body{
  background-color: aqua;
}
.heading{
    text-align: center;
}

.QC{
    text-align: center;
    color:blue}

.a{
    border:2px solid black;
   display:flex;
    }

    .devide{
      display: flex;
    }
.b{
    color:red;
    text-align: center;
  }

  li{
    display:inline;
   color:white;
   padding-left:100px;
   height:30px;
  
  }

  .questions{
    padding-left:50px;
  }

  .que{
    background-color:white;
  }


  img{
    size:50px;
  }

  .kit1{
    padding-left:880px;
  }



  .imgs{
    align-items:center;
  }

  .qi3{
    align-items: center;
  }

  button{
    color:brown;
    height:30px;
    border: none;
    background-color: aqua;
  }

  button:hover{
    background-color:white;
  }